<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/Index">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>

            <li>
                <a href="/Testimonial/Index">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>

            <li>
                <a href="/Room/Index">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index">
                    <i class="icon-pencil menu-icon"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index">
                    <i class="icon-plus menu-icon"></i><span class="nav-text">Servisler</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox">
                    <i class="icon-envelope-open menu-icon"></i><span class="nav-text">İletişim</span>
                </a>
            </li>
            <li>
                <a href="/AdminMail/Index">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Mail İşlemleri</span>
                </a>
            </li>
        </ul>
    </div>
</div>