@model CreateTestimonialDto
@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Fotograf</label>
    <input type="text" asp-for="Image" class="form-control" />
    <br />

    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <label>Personel Ünvanı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />

    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

    <button class="btn btn-whatsapp">Referans Ekle</button>
</form>

